#
# Separate from server.cnf to make upgrading versions easier in Ansible
#
[server]

[mysql]
default-character-set=utf8mb4

[mysqld]
bind_address= 0.0.0.0
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
max_connections = 300
innodb_buffer_pool_size = 256M
max_password_errors = 50

# password reuse (defaults to retain history forever)
# password_reuse_check_interval = 0
simple_password_check = FORCE_PLUS_PERMANENT

# password complexity
simple_password_check = FORCE_PLUS_PERMANENT
simple_password_check_minimal_length = 16
simple_password_check_digits = 1
simple_password_check_other_characters = 1
simple_password_check_letters_same_case = 1

# auditing configuration
server_audit_query_log_limit = 32768
server_audit = FORCE_PLUS_PERMANENT
# perhaps audit CONNECT events only pre-production
server_audit_events = QUERY_DDL,QUERY_DCL,CONNECT
server_audit_logging = ON

[mariadb]
max_allowed_packet = 25M
lower_case_table_names = 1
plugin_load_add = simple_password_check
plugin_load_add = password_reuse_check
plugin_load_add = server_audit